.form {
    display: flex;
    flex-direction: column;
    padding: 30px;
    border: 1px solid black;
    border-radius: 5%;
}

.form__label {
    display: flex;
    flex-direction: column;
    margin: 15px;
}

.submitBtn {
    border-radius: 5px;
    align-self: center;
background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}
.submitBtn:hover,
.submitBtn:focus{
       
        background-color: rgb(240, 112, 0);
            color: white;
    }